
{% extends "base.html"%}

{% block content %}
<div class="container">
  <div class="line profile-wrapper">
    <div class="x6">
    	<div class="profile-section border box-shadow-small">
	      <h5 class="info-header">
	        <i class="fas fa-user-tie info-header-icon"></i><span class="info-header-text">基本信息</span>
	      </h5>

	      <div class="row info-row">
			
			<div class="x6">
				<i class="fas fa-female info-icon new-patient-footer-icon "></i>
				<span class="text-default">葛红香, 100 岁</span>
			</div>

			<div class="x6">
				<i class="far fa-id-card info-icon new-patient-footer-icon "></i>
				<span>3794898</span>

			</div>
	      </div>

<div class="row info-row">
	<div class="infoitem x6">
		<i class="fas fa-medkit info-icon new-patient-footer-icon "></i><span>ddAC - ddP(H)</span>
	</div>
	<div class="infoitem x6">
		<i class="far fa-calendar-alt info-icon new-patient-footer-icon "></i><span>一周一次</span>
	</div>
</div>


<div class="row info-row">
	<div class="infoitem x4"><span class="badge bg-blue-light">氯化钠注射液</span>250 ml</div>
	<div class="infoitem x4"><span class="badge bg-green-light">首次剂量</span>324 mg</div>
	<div class="infoitem x4"><span class="badge bg-green">维持剂量</span>259 mg</div>
</div>

<div class="row info-row">
	
	<div class="infoitem x9" style="max-width:50%; padding:0 5px 0 5px;">
		<div class="progress progress-small"> <div class="progress-bar" style="width: 83%;">
		</div></div>
	</div>

	<div class="infoitem x3">
		<span>左心射血分数：83%</span></div> </div>
	</div>
</div>
    <div class="x6">
        	<div class="profile-section border box-shadow-small">
	      <h5 class="info-header">
	        <i class="fas fa-pills info-header-icon"></i><span class="info-header-text">用药信息</span>
	      </h5>

    	</div>	
    </div>
  </div>
</div>
{%endblock%}

