      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      		<span aria-hidden="true">&times;</span>
      	</button>
      	<h4 class="modal-title" id="modalLabel">View ticket</h4>
      </div>



      <div class="form_padded panel panel-default">
      	<form class="form .form-horizontal">
      		<!-- <div class="form-group"> -->


      			<div class="row">
      				<label class="control-label col-sm-2 form_label">Name</label>
      				<div class="col-sm-10">
      					<input type="text" class="form-control" placeholder="John" disabled>
      				</div>
      			</div>
      			<div class="row">

      				<label class="control-label col-sm-2 form_label">Age</label>
      				<div class="col-sm-4">
      					<input type="text" class="form-control" placeholder="48" disabled>
      				</div>

      				<label class="control-label col-sm-2 form_label">Weight</label>
      				<div class="col-sm-4">
      					<input type="text" class="form-control" placeholder="68" disabled>
      				</div>
      			</div>
      			<hr>

      			<div class="row">

      				<label class="control-label col-sm-3 form_label">Therapy type</label>
      				<div class="col-sm-3">
      					<select style="width: 100%;" name="therapy" size="3" disabled>
      						<option value="Therapy 1">Therapy 1</option>
      						<option value="Therapy 2" selected>Therapy 2</option>
      						<option value="Therapy 3">Therapy 3</option>
      						<option value="Therapy 4">Therapy 4</option>
      					</select>	
      				</div>

      				<label class="control-label col-sm-2 form_label">Dosage</label>
      				<div class="col-sm-4">
      					<input type="text" class="form-control" placeholder="45" disabled>
      				</div>

      			</div>
      			<br>
      			<br>


      			<div class="row">

      				<div class="col-sm-8"></div>
      				<div class="col-sm-2">
      					<button type="button" class="btn btn-info">
      						<i class="fas fa-clipboard-list"></i>
      						Use as template
      					</button>
      				</div>
      			</div>
      			<!-- </div> -->
      		</form>
      	</div>